- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: check-added-large-files
  - id: check-json
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: detect-aws-credentials
    args: [--allow-missing-credentials]
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: name-tests-test
    args: [--django]  # to match `test*.py`.
  # - id: no-commit-to-branch   # to protect specific branches from direct checkins.
    # args: [--branch, master]
  - id: pretty-format-json
    args: [--autofix]

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.1
  hooks:
  - id: flake8
    # max-line-length setting is the same as black
    # commit cannot be done when cyclomatic complexity is more than 10.
    entry: flake8 --max-line-length 88 --ignore=E402 --max-complexity 10 --max-expression-complexity=7 --max-cognitive-complexity=7
    additional_dependencies: [flake8-bugbear, flake8-builtins, flake8-eradicate, pep8-naming, flake8-expression-complexity, flake8-cognitive-complexity]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.790
  hooks:
    - id: mypy
      args: [--no-strict-optional, --ignore-missing-imports]
      additional_dependencies: [tokenize-rt==3.2.0]

- repo: https://github.com/ambv/black
  rev: stable
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/pycqa/isort
  rev: 5.5.2
  hooks:
    - id: isort
      args: ["--profile", "black"]

# for docstrings in python codes
- repo: https://github.com/myint/docformatter
  rev: master
  hooks:
    - id: docformatter
      args: [--in-place]

# for markdown
- repo: https://github.com/markdownlint/markdownlint
  rev: master  # or specific git tag
  hooks:
    - id: markdownlint
      # ignore line length of makrdownlint
      args: [-r, ~MD013]

# for javascript / typescript
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: master  # Use the sha / tag you want to point at
  hooks:
  - id: eslint
    files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
    types: [file]

# for rust
- repo: https://github.com/doublify/pre-commit-rust
  rev: master
  hooks:
  - id: fmt
    name: rust-fmt
  - id: cargo-check
    name: rust-cargo-check
